@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/grid/columns";
@import "node_modules/bulma/sass/components/nav";
@import "node_modules/bulma/sass/elements/form";
@import "node_modules/bulma/sass/elements/button";
@import "node_modules/bulma/sass/layout/_all";

@import url('https://fonts.googleapis.com/css?family=Lato|Spectral');

body {
  font-family: 'Spectral', serif;
  font-size: 1.4em;
  color: #333;
  background-color: #efe9e5;
  margin: 0;
}

nav.nav {
  font-family: 'Lato', sans-serif;

  .nav-center {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: #333;
    &:hover { color: #E89B22 }
  }
}

a:hover {
  color: #E89B22;
}

.section {
  background-color: inherit;
}

form label {
  font-family: 'Lato', sans-serif;
}
