@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/grid/columns";
@import "node_modules/bulma/sass/components/nav";
@import "node_modules/bulma/sass/elements/form";
@import "node_modules/bulma/sass/elements/button";
@import "node_modules/bulma/sass/layout/_all";

@import url('https://fonts.googleapis.com/css?family=Lato|Spectral');

body {
  font-family: 'Spectral', serif;
  font-size: 1.4em;
  color: #333;
  background-color: #efe9e5;
  margin: 0;
}

nav.nav {
  font-family: 'Lato', sans-serif;

  .nav-center {
    text-transform: uppercase;
  }

  a {
    color: #333;
    &:hover { color: #E89B22 }
  }
}

a {
  text-decoration: none;
  color: #E89B22;

  &:hover { color: #d56d56; }
}

.section {
  background-color: inherit;
}

form label {
  font-family: 'Lato', sans-serif;
}

article {
  max-width: 800px;
}

.post {
  text-align: justify;
}

ul.posts {
  list-style: none;

  li {
    margin-bottom: 12px;
  }

  .summary {
    text-align: justify;
    padding: 0 0 0 25px;
    font-size: 0.9em;
  }
}
