$desktop: 928px;

@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/grid/columns";
@import "node_modules/bulma/sass/components/navbar";
@import "node_modules/bulma/sass/elements/form";
@import "node_modules/bulma/sass/elements/button";
@import "node_modules/bulma/sass/layout/_all";

@import url('https://fonts.googleapis.com/css?family=Lato|Spectral');

$branco: #efe9e5;
$cinza: #606062;
$amarelo: #E89B22;
$laranja: #d56d56;

body {
  font-size: 1.4em;
}

body, #levypla {
  font-family: 'Spectral', serif;
  color: $cinza;
  background-color: $branco;
  margin: 0;
}

nav.navbar,
footer.footer {
  background-color: $cinza;
  color: $branco;
}

nav.navbar {
  font-family: 'Lato', sans-serif;

  .nav-center {
    text-transform: uppercase;
  }

  a {
    color: $branco;
    &:hover { color: $amarelo; }
  }
}

div.navbar-burger {
  span {
    background-color: $white;
  }
}
a.navbar-item {
  font-size: 0.8em;
  padding: 0.5rem 0.3rem;
  text-transform: uppercase;

  &:hover {
    background-color: initial;
  }
}

a {
  text-decoration: none;
  color: $amarelo;

  &:hover { color: $laranja; }
}

.section {
  background-color: inherit;
}

form label {
  font-family: 'Lato', sans-serif;
}

article {
  max-width: 800px;
  text-align: justify;

  img {
    max-width: 100%;
    float: left;
    display: block;
    margin: 0 10px 4px 0;
  }
}

ul.posts {
  list-style: none;

  li {
    margin-bottom: 12px;
  }

  .summary {
    padding: 0 0 0 25px;
    font-size: 0.9em;
  }
}

table.livros-traduzidos {
  .desc {
    padding-left: 48px;
    vertical-align: top;
  }

  dd {
    font-weight: bold;
  }
}
